.productdiv{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(150deg,rgb(121, 66, 66),rgb(250, 226, 226));
}